<html>
<head>
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Untitled Document</title>
	<!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<!--<script type="jquery.js"></script>-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-1"></div>
			<div class="col-md-4 col-xs-12" align="center">
			<a href="http://localhost:3001"><img src="../Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></a>
		</div>
		<div class="col-md-4 col-xs-1"></div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<div class="menu" align="center">
		            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
		            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
		            <a href="http://localhost:3001/statistics" title="Statistiken anzeigen" class="statistik">Statistik</a>
	          	</div>
			</div>
		<div class="col-md-8 col-xs-12"><img src="../Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
		<form id="quiz" class="centertext">
			<h2 class="quizfont2">Frage <%= questions[0].id %></h2>
				<fieldset>
					<%= questions[0].question %> <br>
					<label for="a"><span class="quizfont">A:   </span> <%= questions[0].random_ans[0] %></label> 
					<input type="radio" id="a" value="0" name="Quiz"><br>
					<label for="b"><span class="quizfont">B:   </span> <%= questions[0].random_ans[1] %></label>  
					<input type="radio" id="b" value="1" name="Quiz"><br>
					<label for="c"><span class="quizfont">C:   </span> <%= questions[0].random_ans[2] %></label>  
					<input type="radio" id="c" value="2" name="Quiz"><br>
					<label for="d"><span class="quizfont">D:   </span> <%= questions[0].random_ans[3] %></label>  
					<input type="radio" id="d" value="3" name="Quiz"><br>
				</fieldset>
			<button type="submit">Eingaben absenden</button>
		</form>
	</div>
		</div>
			<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {

		var answer = <%= questions[0].answer %>;

		$('#quiz').submit(function (ev) {

			var gewaehlte_antwort = $('input[name=Quiz]:checked', '#quiz').val();
			if(answer == gewaehlte_antwort) {
				$('#quiz').addClass('right');
				alert('richtig');
			} else {
				$('#quiz').addClass('wrong');
				alert('fail');
			}

			    var data = {
					"id" : questions[0].id,
					"richtig" : richtig
				}

			/*
			$.ajax({
				type: 'POST',
				url: '/statistics',
				data: JSON.stringify(data),
				contentType: 'application/json'
			}).done(function(){
				alert('Daten wurden uebermittelt.');
			}).fail(function(e){
				alert('Daten konnten nicht uebermittelt werden.');
			});*/
		});
	});
	</script>
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="../js/bootstrap.js"></script>
</body>
</html>
