<html>
  <head>
    <title>StudiQuiz - Statistiken</title>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
	  <link href="css/bootstrap.css" rel="stylesheet">
	  <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-12" align="center"><a href="http://localhost:3001/"><img src="Bilder/logo2.png" class="img-responsive logo" alt="Placeholder image"></a></div>
        <div class="col-md-4 col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="menu" align="center">
            <a href="http://localhost:3001/quiz" title="Quiz starten" class="quiz">Quiz</a>
            <a href="http://localhost:3001/newquestion" title="Neue Frage erstellen" class="neuefrage">Neue Frage <br> erstellen</a>
            <a href="http://localhost:3001/statistics" title="Statistiken anzeigen" class="statistik">Statistik</a>
          </div>
        </div>
          <div class="col-md-8 col-xs-12"><img src="Bilder/Block-klein.png" class="img-responsive" alt="Placeholder image">
            <div class="statwrapper centertext">
              <h1 id="stath">Alle Fragen</h1>
              <div class="bar" id="one"><p class="barstat" id="barstatr">Richtige Fragen:</p></div>
              <div class="bar" id="two"><p class="barstat" id="barstatw">Falsche Fragen: </p></div>
              <div class="stbutton">
                <button type="button" id="ap1">AP1</button>
                <button type="button" id="bs1">BS1</button>
                <button type="button" id="wba">WBA</button>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        var ap1r = <%= stat[0].ap1r %>;
        var ap1w = <%= stat[1].ap1w %>;
        var bs1r = <%= stat[2].bs1r %>;
        var bs1w = <%= stat[3].bs1w %>;
        var wbar = <%= stat[4].wbar %>;
        var wbaw = <%= stat[5].wbaw %>;

      setTimeout(function(){
        var all = ap1r + ap1w + bs1r + bs1w + wbar + wbaw;
        var allr = ap1r + bs1r + wbar;
        var allw = ap1w + bs1w + wbaw;

        var allpxr = (400 / ( (100 / ( allr + allw ) ) * allr + (100 / ( allr + allw ) ) * allw ) ) * (100 / ( allr + allw ) ) * allr;

        var allpxw = (400 / ( (100 / ( allr + allw ) ) * allr + (100 / ( allr + allw ) ) * allw ) ) * (100 / ( allr + allw ) ) * allw;

        $("#one").css("height", allpxr + "px");
        $("#two").css("height", allpxw + "px");
        $("#barstatr").html('Richtige Fragen: ' + allr);
        $("#barstatw").html('Falsche Fragen: ' + allw);
      },1000);

      $('#ap1').click(function(){
        var ap1rpx = (400 / ( (100 / ( ap1r + ap1w ) ) * ap1r + (100 / ( ap1r + ap1w ) ) * ap1w ) ) * (100 / ( ap1r + ap1w ) ) * ap1r;

        var ap1wpx = (400 / ( (100 / ( ap1r + ap1w ) ) * ap1r + (100 / ( ap1r + ap1w ) ) * ap1w ) ) * (100 / ( ap1r + ap1w ) ) * ap1w;

        $("#one").css("height", ap1rpx + "px");
        $("#two").css("height", ap1wpx + "px");
        $("#barstatr").html('Richtige Fragen: ' + ap1r);
        $("#barstatw").html('Falsche Fragen: ' + ap1w);
        $("#stath").html('Statistiken AP1');
      });

      $('#bs1').click(function(){
        var bs1rpx = (400 / ( (100 / ( bs1r + bs1w ) ) * bs1r + (100 / ( bs1r + bs1w ) ) * bs1w ) ) * (100 / ( bs1r + bs1w ) ) * bs1r;

        var bs1wpx = (400 / ( (100 / ( bs1r + bs1w ) ) * bs1r + (100 / ( bs1r + bs1w ) ) * bs1w ) ) * (100 / ( bs1r + bs1w ) ) * bs1w;

        $("#one").css("height", bs1rpx + "px");
        $("#two").css("height", bs1wpx + "px");
        $("#barstatr").html('Richtige Fragen: ' + bs1r);
        $("#barstatw").html('Falsche Fragen: ' + bs1w);
        $("#stath").html('Statistiken BS1');
      });

      $('#wba').click('.notactive', function(){
        var wbarpx = (400 / ( (100 / ( wbar + wbaw ) ) * wbar + (100 / ( wbar + wbaw ) ) * wbaw ) ) * (100 / ( wbar + wbaw ) ) * wbar;

        var wbawpx = (400 / ( (100 / ( wbar + wbaw ) ) * wbar + (100 / ( wbar + wbaw ) ) * wbaw ) ) * (100 / ( wbar + wbaw ) ) * wbaw;

        $("#one").css("height", wbarpx + "px");
        $("#two").css("height", wbawpx + "px");
        $("#barstatr").html('Richtige Fragen: ' + wbar);
        $("#barstatw").html('Falsche Fragen: ' + wbaw);
        $("#stath").html('Statistiken WBA');
      });
    });
    </script>
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="js/bootstrap.js"></script>
  </body>
</html>